%section#articles.span7.offset1
  .well
    :each article in articles.slice(0,10)
      %article
        %h2
          %a{href: "/" + article.name}&= article.title
          %small.pull-right&= formatDate(article.date, "%d/%m/%Y")
        = intro(article.markdown)
        .buttons
          %a.btn.btn-primary{href: "/" + article.name} Lire la suite...
          %a.btn.btn-mini.pull-right{href: "/" + article.name + "#disqus_thread"} Commentaires
      %hr

%section#sidebar.span3
  .about.well
    %h3 À propos de ce blog
    = markdownEncode(description)
  .well
    %ul.nav.nav-list
      %li.nav-header
        Derniers articles :
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title