!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")}jQueryum Annihilationem
    %link(href="/css/bootstrap.min.css" rel="stylesheet")
    %link(href="/css/style.css" rel="stylesheet")
    %link(href="/css/prettify.css" rel="stylesheet")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %script(src="/js/prettify.js")
  %body
    .container-fluid
      .row-fluid
        %header.span12.well.pagination-centered
          %h1
            %a{href: "/"} jQueryum Annihilationem

      .row-fluid
        = content
      
      .row-fluid
        .span12
          %hr
          %footer
            %p
              %a{href: "https://github.com/creationix/wheat"} Wheat
               (créé par 
              %a{href: "http://creationix.com/"} Tim Caswell
              ) avec Node.js #{process.version}.
            %p
              Design créé par 
              %a{href: "http://jpardanaud.com/"} Johann Pardanaud
               à l'aide de 
              %a{href: "http://twitter.github.com/bootstrap/"} Twitter Bootstrap
               et 
              %a{href: "http://bootswatch.com/simplex/"} Simplex
              .
    %script
      var pres=document.getElementsByTagName("pre");for(var i=0,pre;pre=pres[i++];)pre.className="prettyprint";prettyPrint()